[MASTER]
extension-pkg-allow-list=av,cv2

[LOGGING]
logging-format-style=new
logging-modules=logging

[MESSAGES CONTROL]
disable=logging-format-interpolation,consider-using-f-string

[DESIGN]
max-args=12
max-positional-arguments=12
max-attributes=15
max-branches=30
max-locals=30
max-public-methods=50
max-returns=15
max-statements=150
max-nested-blocks=10
max-module-lines=1200
min-public-methods=0

[BASIC]
good-names=geoFence
method-rgx=([a-z_][a-z0-9_]{2,}|do_[A-Z]+)$

[FORMAT]
max-line-length=120
